server:
  context-path: /demo
  port: 9999
  
# 访问平台服务所需参数  
security:
  oauth2:
    client:
      accessTokenUri: ${HIACLOUD_UAA_TOKEN_URL:http://127.0.0.1:8089/uaa/oauth/token}
      clientId: ${HIACLOUD_CLIENT_ID:yangpeng}
      clientSecret: ${HIACLOUD_CLIENT_SECRET:ypp}
logging:
  level:
    org.springframework.security: DEBUG

  
# custom properties
uaa_url: ${HIACLOUD_MODEL_URL:http://127.0.0.1:8089/uaa}